 Visual Studio
.vs
*.VC.db
*.VC.VC.opendb
*.sln
*.suo

# Build files
Binaries/
Build/
Intermediate/
DerivedDataCache/

# Saved files
Saved/

# Other
.idea/
.vscode/
*.xcodeproj/
*.xcworkspace/